.custom-image{
    height: 200px;
    text-align: center;
}
.custom-image img{
    object-fit: contain;
    width: 200px;
    height: 100%;
}
.label-badge {
    top: 5%;
    left: 6%;
    position: absolute;
    display: inline-block;
    background: orange;
    color: white;
    height: 2.5rem;
    width: 2.5rem;
    text-align: center;
    vertical-align: middle;
    line-height: 2.5rem;
    transform: rotate(-20deg);
    animation: beat 1s ease infinite alternate;
}
.label-badge.news{
    background: #337ab7;
}
.label-badge:before, .label-badge:after {
    content: "";
    position: absolute;
    background: inherit;
    height: inherit;
    width: inherit;
    top: 0;
    left: 0;
    z-index: -1;
    transform: rotate(30deg);
}
.label-badge:after {
    transform: rotate(60deg);
}
@keyframes beat {
    from {
        transform: rotate(-5deg) scale(1);
    }
    to {
        transform: rotate(-5deg) scale(1.1);
    }
}

.preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
@media screen and (max-width: 996px) {
    .preview {
        margin-bottom: 20px;
    }
}
.preview-pic {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.preview-thumbnail.nav-tabs {
    border: none;
    margin-top: 15px;
}
.preview-thumbnail.nav-tabs li {
    border-radius: 4px;
    border: black solid 1px;
    width: 22%;
    height: 100px;
    margin-right: 2.5%;
}
.preview-thumbnail.nav-tabs li img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}
.preview-thumbnail.nav-tabs li a {
    padding: 0;
    margin: 0;
}
.preview-thumbnail.nav-tabs li:last-of-type {
    margin-right: 0;
}
.image-show{
    height: 400px;
    display: none;
}

.image-show.active{
    display: block;
}
.image-show img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.image-choice{
    height: 80px;
}

.image-choice img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}
p.price span.price-dc {
    text-decoration: line-through;
    color: #b3b3b3;
}
.buy-now{
    cursor: pointer;
}
